* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.sidebar {
  /* position: fixed;
  top: 0;
  left: 0; */

  width: 17%;
  height: 1080px;
  background-color: black;

  padding: 42px 30px;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;

  margin-bottom: 125px;
  color: white;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.navigation-list-item {
  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 0 30px;

  border-radius: 12px;

  cursor: pointer;

  transition: all 0.5s ease;
}

.navigation-list-item:hover {
  background: #ff0b7d 0% 0% no-repeat padding-box;
}

.a-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
}

h3 {
  color: white;
  padding: 40px 0px;
  left: 0px;
}

.following {
  color: white;
}

.following-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.following-list-item {
  display: flex;
  align-items: center;
  gap: 21px;
  list-style: none;
}

.load-more {
  margin-top: 19px;
  color: white;
}
