* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
}

.sidebar {
  width: 20vw;
  height: 1080px;
  background-color: black;

  padding: 42px 30px;
}

.sidebar-head {
  display: flex;
  justify-content: space-between;

  margin-bottom: 125px;
  color: white;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.navigation-list-item {
  display: flex;
  align-items: center;

  width: 100%;
  height: 60px;
  padding: 0 30px;

  border-radius: 12px;

  cursor: pointer;

  transition: all 0.5s ease;
}

.navigation-list-item:hover {
  background: #ff0b7d 0% 0% no-repeat padding-box;
}

.a-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
}

h3 {
  color: white;
  padding: 40px 0px;
  left: 0px;
}

.following {
  color: white;
}

.following-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.following-list-item {
  display: flex;
  align-items: center;
  gap: 21px;
  list-style: none;
}

.load-more {
  margin-top: 19px;
  color: white;
}

/* ================= Main Section =================== */

.main-section {
  width: 100%;
}

/* ========================  Header  ========================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  margin: 0 90px 0 25px;

  border-bottom: 1px solid #f8f8f8;
}

/* Header search */
.header__search-container {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 28%;
  height: 56px;
  border-radius: 12px;
}

.header__search-input {
  width: 100%;
  height: 100%;

  padding: 0 50px 0 20px;

  border: none;
  outline: none;
  background: #f8f8f8 0% 0% no-repeat padding-box;
}

.header__search-icon {
  position: absolute;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);
}

/* Header My Profile */
.header__my-profile {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 28%;
}

.header__go-pro {
  width: 55px;
  color: #ff2288;
}

.header__upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 129px;
  height: 60px;

  color: white;
  background-color: #ff2288;
  border: none;
  outline: none;
  border-radius: 12px;

  cursor: pointer;

  transition: all 0.5s ease;
}

.header__upload-btn:hover {
  background: #ff0b7d 0% 0% no-repeat padding-box;
}

/* ====================== Main Content ===================== */
.main-content {
  display: block;
  margin: 80px 150px;
}

.main-content__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  display: flex;
  gap: 40px;
}

.main-nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  list-style: none;
  transition: all 0.5s ease;
  border-radius: 12px;
}

.main-nav-list-item:hover {
  background-color: #f2f2f2;
}

.main-nav-list-item-link {
  color: black;
}

.main-content__nav-btn {
  height: 56px;
  width: 132px;

  background-color: white;

  border: solid 1px #d8d8d8;
  border-radius: 12px;
}

/* ==================== Main Content Services ======================= */

.main-content__services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-content__service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content__service-image {
  width: 289px;
  height: 210px;
}

.main-content__load-more-btn-container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 70px 0;
}

.main-content__load-more-btn {
  width: 289px;
  height: 56px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 12px;
}

/* ========== Top Designers Section ============ */

.main-content__top-designers {
  background-color: #fafafa;
  padding: 40px 190px;
}

.main-content__top-designers-header {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin: 60px 0;
}

.main-content__top-designers-header-title {
  font-size: 32px;
  font-weight: 900;
}

.main-content__top-designers-header-view-all-btn {
  background-color: transparent;
  border: none;
  outline: none;

  color: #222222;
}

/* Top Designers List */

.main-content__top-designers-list {
  display: flex;
  justify-content: space-between;
}

.main-content__top-designers-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  list-style: none;
}

.main-content__top-designers-name {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 15px 0 10px 0;
}

.main-content__top-designers-country {
  font-size: 12px;
  color: #222222;
}

.main-content__top-designers-follow-btn {
  width: 132px;
  height: 44px;
  margin-top: 17px;

  background-color: white;
  border: 1px solid #d8d8d8;

  border-radius: 12px;
  outline: none;
}

.main-content__top-designers-follow-btn.following {
  border: none;
  background-color: #f2f2f2;
  color: black;
}

.linked-pages {
  width: 100%;
  padding-top: 60px;
  padding-left: 100px;
}
.for-designers {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.for-designers h4 {
  color: #a1a0a0;
  font-weight: 100;
}
.list li {
  list-style: none;
  margin-bottom: 10px;
}
.list li,
a {
  text-decoration: none;
  color: #a1a0a0;
}
.linked-pages {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 40px;
}
footer {
  border-top: rgb(225, 222, 222) 1px solid;
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-icons {
  margin-left: 320px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  gap: 15px;
}
.signature {
  padding-top: 30px;
  padding-bottom: 20px;
}
.signature b {
  font-weight: bolder;
}

.designer-photo {
  border-radius: 60px;
}

@media screen and (max-width: 1500px) {
  .designer-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

@font-face {
  font-family: "avenir-medium";
  src: url("/fonts/avenir-medium.ttf");
}

/* page 2 table style */
table {
  width: 100%;
}
th {
  text-align: left;
}
td {
  height: 50px;
}
th,
td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #ff2288;
}
